html, body {
  height: 100%;
  margin: 0;
}

/* *{
    background-color: #F8FAFC;
}*/

.navi {
    position : relative ;
    top : 40vh ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn {
  background: #1E40AF;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  margin: 5px;
  
}

h1 {
    position: relative;
    text-align: center;
}