html, body {
  height: 100%;
  margin: 0;
}


/**{
    background-color:  #F8FAFC;
}*/

.f1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    position: relative;
    top : 40vh;
}

input {
    display: inline-block;
    width : 25vw;
}

input , button {
    margin : 10px;
   
}

h1 {
    text-align: center;
    position : relative;
    top : 30vh;
}

label {
    border : 1px solid beige ; 
     background-color: black;
    padding : 2px;
}